body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

p {
  color: #f1f1f1;
  font-size: 1.5rem;
  text-align: center;
}

.App {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.mensaje {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e74c3c;
}

.score {
  margin-top: 15px;
  font-size: 1.8rem;
  color: #3498db;
}

.high-score {
  font-size: 1.5rem;
  color: #2ecc71;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.input-container input {
  background-color: #ffffff;
}

.input-field {
  padding: 10px;
  width: 200px;
  border: 2px solid #3498db;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #2ecc71;
}

.input-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.input-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.input-button:active {
  background-color: #2ecc71;
  transform: translateY(1px);
}

.game-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.image-container {
  margin-left: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  background-color: rgba(6, 6, 4, 0.166);
  backdrop-filter: blur(45px);
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
.animar {
  animation: shake 0.3s ease-in-out;
}
